@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One);

body {
  font-family: 'Playball', serif;
  background-color: hsl(0, 0%, 80%);
  
}

img {
 margin-right: 30px;
 border: 10px transparent green;
  
}

header {
  margin: 30px;
  padding: 20px;
  background-color: hsl(150, 45%, 73%);
}

li {
  padding: 20px;
}

a {
  color: hsl(25, 80%, 73%);
}

h2 {
  text-align: center;
  position: fixed;
}

.HeadDiv {
  background-color: cyan;
  font-family: 'Over the Rainbow', cursive;
  text-align: center;
  border: 10px inset pink;

}

.Div1 {
  background-color: hsl(0, 59%, 73%);
}

.blogText {
  border: 2px outset yellow;
  text-align: center;
  background-color: silver;
  padding: 10px;
}

.blogText {
  transition: transform .1s;
  transform: translate(10px, 10px);
}
