@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Bungee+Shade);
@import url(https://fonts.googleapis.com/css?family=Vibur);

body {
  font-family: 'Playball', serif;
  background-color: hsl(30, 120%, 180%);
  font-size: 24px;
  padding: 12px;
  margin: 4px;
  position: center;
  border: 20px inset pink;
  border-radius: 13px;
  border-color: forest green;
  border-width: 20px;
  
}

img {
 margin-right: 30px;
 border: 10px transparent green;
  
}

header {
  margin: 30px;
  padding: 20px;
  background-color: hsl(150, 45%, 73%);
}

li {
  padding: 20px;
}

a {
  color: hsl(25, 80%, 73%);
}

h2 {
  text-align: center;
  position: center;
}

.HeadDiv {
  background-color: cyan;
  font-family: 'Over the Rainbow', cursive;
  text-align: center;
  border: 10px inset pink;

}

.Div1 {
  background-color: hsl(0, 59%, 73%);
}

.blogText {
  border: 2px outset yellow;
  text-align: center;
  background-color: silver;
  padding: 10px;
}

.blogText {
  transition: transform .7s;
  transform: translate(20px, 20px);
}



#div1{
  background-color: lavender;
border-style:double;
font-size: 42px;
border-width: 15px;
border-radius:13px;
border-color:green;
}




'button1'{
  background-color: lavender;
border-style:double;
border-width: 15px;
border-radius:13px;
border-color:green;
}


#div1{
  background-color: lavender;
border-style:double;
font-size: 32px;
border-width: 5px;
border-radius:3px;
border-color:green;
}


